@import '../../../assets/styles/_tools.scss';

.c-footer {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(12);
    height: rem(40);
    text-align: center;
}