@import '../../../assets/styles/_tools.scss';

.c-header {
    background: $black;
    display: flex;
    align-items: center;
    height: rem(50);
    padding: rem(0 16);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    &__logo {
        color: $white;
        font-size: rem(22);
        font-weight: $font-black;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__nav {
        font-size: rem(14);
        flex: 1;
    }

    ::content /deep/ .c-header__nav-menu {
        display: flex;
        justify-content: flex-end;
    
        & > * + * {
            margin-left: rem(20);
        }
    
        & > * > a {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.2s linear;

            &:hover {
                color: $blue-2;
            }
        }
    }

    @media(min-width: $breakpoint-medium) {
        position: static;
    }
}
