<header class="c-header">
    <a class="c-header__logo" routerLink="/">{{ appName }}</a>
    <nav class="c-header__nav is-hidden is-visible--medium">
        <ul class="c-header__nav-menu">
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a href="#" (click)="openModal('addBeer')">Add Beer</a>
            </li>
            <li>
                <a href="#" (click)="isLoggedIn ? logOut() : logOut()"
                   [innerText]="isLoggedIn ? 'Log Out' : 'Log In'"></a>
            </li>
        </ul>
    </nav>
</header>

<app-modal 
    [id]="'add-beer-modal'"
    [isOpen]="modalActiveStates.addBeer" 
    (close)="closeModal('addBeer')">
    <ng-container modal-header>
        <h3>Add A Beer</h3>
    </ng-container>
    <ng-container modal-body>
        <div class="padding--24">
            <app-add-beer-form
                *ngIf="modalActiveStates.addBeer"
                [formPrefix]="'add-beer'"
                (submitted)="closeModal('addBeer')">
            </app-add-beer-form>
        </div>
    </ng-container>   
</app-modal>