<header class="c-header">
    <a class="c-header__logo" routerLink="/">{{ headerContent.appName }}</a>
    <nav class="c-header__nav is-hidden is-visible--medium">
        <ul class="c-header__nav-list">
            <li *ngFor="let item of headerContent.navItems">
                <ng-container *ngIf="item.url; else anchorWithClickEvent">
                    <a routerLink="{{ item.url }}">{{ item.text }}</a>
                </ng-container>
                <ng-template #anchorWithClickEvent>
                    <a href="javascript:void(0)" (click)="item.onClick()">{{ item.text }}</a>
                </ng-template>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="">Log In</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a routerLink="">Log Out</a>
            </li>
        </ul>
    </nav>
</header>