@import '../../../assets/styles/_tools.scss';

.modal {
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0; 
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    transition: all 0.25s linear;

    &__window {
        background: $white;
        height: 100%;
        width: 100%;
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
    }

    &__header {
        background: $blue-3;
        font-size: rem(24);
        padding: rem(24);
        text-transform: uppercase;
    }

    &__body {
        padding: rem(24);
        flex: 1;
        overflow-y: auto;
        display: block;
    }

    &__footer {
        border-top: rem(1) solid $gray-5;
        padding: rem(24);
    }

    @media(min-width: $breakpoint-medium) {
        &__window {
            max-width: rem(800);
            width: 50%;
            max-height: rem(750);
            height: 85%;
            display: flex;
            flex-direction: column;
        }
    }
}