<div class="modal trap" id="modal" [ngClass]="{
        'is-open': isOpen,
        'is-active': isOpen
    }">
    <div class="modal__window">
        <div class="modal__header">
            <ng-content select=[modal-header]></ng-content>
            <button class="modal__close" (click)="handleClose()">Close</button>
        </div>
        <div class="modal__body">
            <ng-content select=[modal-body]></ng-content>
        </div>
        <ng-content select=[modal-footer]></ng-content>
    </div>
</div>