<section class="summary">
	<div 
		class="summary__photo" 
		[style.backgroundImage]="'url('+ userBeerData.photoUrl +')'">
	</div>
	<div class="summary__details">
		<h1 class="summary__beer-name u-vr" *ngIf="userBeerData.beerName">
			{{ userBeerData.beerName }}
		</h1>
		<h2 class="summary__brewery">
			<ng-container *ngIf="userBeerData.brewery">
				{{ userBeerData.brewery }},
			</ng-container>
			<ng-container *ngIf="userBeerData.city">
				{{ userBeerData.city }}<ng-container *ngIf="!userBeerData.state && userBeerData.country">,</ng-container>
			</ng-container>
			<ng-container *ngIf="userBeerData.state">
				{{ userBeerData.state }},
			</ng-container>
			<ng-container *ngIf="userBeerData.country">
				{{ userBeerData.country }}
			</ng-container>
		</h2>
		<div class="u-vr-1-top" *ngIf="userBeerData.rating">
			<app-rating
				[rating]="userBeerData.rating">
			</app-rating>
		</div>
		<ul class="u-vr-3-top u-flex--medium u-flex--hr">
			<li *ngIf="userBeerData.style">
				<b>Style:</b> {{ userBeerData.style }}
			</li>
			<li *ngIf="userBeerData.abv">
				<b>ABV:</b> {{ userBeerData.abv | number : '1.1' }}%
			</li>
			<li *ngIf="userBeerData.ibu">
				<b>IBU:</b> {{ userBeerData.ibu }}
			</li>
			<li *ngIf="userBeerData.glassware">
				<b>Glassware:</b> {{ userBeerData.glassware }}
			</li>
		</ul>
		<p class="u-vr-3-top u-vr-3" *ngIf="userBeerData.comments">
			{{ userBeerData.comments }}
		</p>
		<button *ngIf="isLoggedIn == true" class="c-btn">Edit</button>
	</div>
</section>