@import '../../../assets/styles/_tools.scss';

.summary {
    background: $gray-0;
    align-content: center;
    min-height: rem(500);
    color: $white;

    &__photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        height: rem(300);
    }

    &__details {
        flex: 1;
        padding: rem(16);
    }

    &__edit {
        padding: rem(16);
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__edit-form {
        flex: 1;
        overflow: auto;
    }

    &__beer-name {
        font-size: rem(30);
        font-weight: $font-black;
    }

    &__brewery {
        font-size: rem(20);
        font-weight: $font-semibold;
    }

    @media(min-width: $breakpoint-medium) {
        display: flex;

        &__photo {
            flex: 0 35%;
            height: auto;
            min-height: 100%;
            min-width: rem(250);
        }

        &__details {
            padding: rem(24);
        }

        &__edit {
            padding: rem(24);
        }

        &__beer-name {
            font-size: rem(40);
        }

        &__brewery {
            font-size: rem(28);
        }
    }
}