<section class="summary" #summary>
	<div 
		class="summary__photo" 
		[style.backgroundImage]="'url('+ (photoUrl || 'assets/images/no-beer-image.png') +')'">
	</div>
	<div class="summary__details">
		<div class="u-vr-1 u-text-xs">
			Posted on: {{ datePosted }}
		</div>
		<h1 class="summary__beer-name u-vr" *ngIf="title">
			{{ title }}
		</h1>
		<h2 class="summary__brewery u-vr-1">
			<ng-container *ngIf="brewery">
				{{ brewery }} &bull;
			</ng-container>
			<ng-container *ngIf="breweryCity">
				{{ breweryCity }}
			</ng-container>
			<ng-container *ngIf="breweryState">
				{{ breweryState }}
			</ng-container>
		</h2>
		<div class="u-vr-2">
			<a class="anchor--light" [href]="breweryWebsite" target="_blank">{{breweryWebsite}}</a>
		</div>
		<div class="u-vr-1-top" *ngIf="rating">
			<app-rating
				[rating]="rating">
			</app-rating>
		</div>
		<ul class="u-vr-3-top u-flex--medium u-flex--hr">
			<li *ngIf="style">
				<b>Style:</b> {{ style }}
			</li>
			<li *ngIf="abv">
				<b>ABV:</b> {{ abv | number : '1.1' }}%
			</li>
			<li *ngIf="ibu">
				<b>IBU:</b> {{ ibu }}
			</li>
		</ul>
		<p class="u-vr-3-top u-vr-3" *ngIf="comments">
			{{ comments }}
		</p>
		<button *ngIf="isLoggedIn == true" class="c-btn c-btn--sm" (click)="openModal('editBeer')">Edit</button>
		<button *ngIf="isLoggedIn == true" class="c-btn c-btn--red c-btn--sm" (click)="openModal('deleteBeer')">Delete</button>
	</div>
</section>

<app-modal 
	[id]="'delete-beer-modal'"
    [isOpen]="modalActiveStates.deleteBeer" 
    (close)="closeModal('deleteBeer')">
    <ng-container modal-header>
        <h3>Are you sure?</h3>
    </ng-container>
    <ng-container modal-body>
        <div class="padding--24 u-align-center">
            <button class="c-btn c-btn--sm" (click)="deleteItem()">Yes I'm Sure</button>
			<button class="c-btn c-btn--red c-btn--sm" (click)="closeModal('deleteBeer')">Cancel</button>
        </div>
    </ng-container>   
</app-modal>

<app-modal 
	[id]="'edit-beer-modal'"
	[isLoading]="updating"
    [isOpen]="modalActiveStates.editBeer" 
    (close)="closeModal('editBeer')">
    <ng-container modal-header>
        <h3>Edit Beer</h3>
    </ng-container>
    <ng-container modal-body>
        <div class="padding--24">
			<app-add-beer-form 
				[editMode]="true"
				[routeId]="routeId"
				[imgId]="imgId"
				[editMode]="true"
				[formPrefix]="'edit-beer'"
				[beerName]="title"
				[rating]="rating"
				[comments]="comments"
				(cancelled)="closeModal('editBeer')"
				(submitted)="updateSuccessful($event)"
				(inProgress)="updateInProgress()">
			</app-add-beer-form>
        </div>
    </ng-container>   
</app-modal>