<section class="summary">
	<div 
		class="summary__photo" 
		[style.backgroundImage]="'url('+ photoUrl +')'">
	</div>
	<div class="summary__details">
		<h1 class="summary__beer-name u-vr" *ngIf="title">
			{{ title }}
		</h1>
		<h2 class="summary__brewery">
			<ng-container *ngIf="brewery">
				{{ brewery }} &bull;
			</ng-container>
			<ng-container *ngIf="locationCity">
				{{ locationCity }}
			</ng-container>
			<ng-container *ngIf="locationState">
				{{ locationState }}
			</ng-container>
		</h2>
		<div class="u-vr-1-top" *ngIf="rating">
			<app-rating
				[rating]="rating">
			</app-rating>
		</div>
		<ul class="u-vr-3-top u-flex--medium u-flex--hr">
			<li *ngIf="style">
				<b>Style:</b> {{ style }}
			</li>
			<li *ngIf="abv">
				<b>ABV:</b> {{ abv | number : '1.1' }}%
			</li>
			<li *ngIf="ibu">
				<b>IBU:</b> {{ ibu }}
			</li>
		</ul>
		<p class="u-vr-3-top u-vr-3" *ngIf="comments">
			{{ comments }}
		</p>
		<button *ngIf="isLoggedIn == true" class="c-btn">Edit</button>
	</div>
</section>