<app-summary-section
    [summaryContent]="summaryContent">
</app-summary-section>

<section class="padding padding--16 padding--24@medium">
    <h3 class="u-text-lg u-vr-3 u-align-center">
        {{ summaryContent.brewery }} Locations
    </h3>
    <app-google-map 
        [mapHeight]="'300'"
        [brewery]="summaryContent.brewery"
        [city]="summaryContent.city"
        [state]="summaryContent.state"
        [country]="summaryContent.country"
        [zoom]="13"></app-google-map>
</section>

<section class="padding padding--16 wrapper">
    <h3 class="u-text-lg u-vr-3 u-align-center">
        Other Beers You May Like
    </h3>
    <app-recommended-beers
        [beerStyle]="summaryContent.style">
    </app-recommended-beers>
</section>