<app-summary-section
    [summaryContent]="summaryContent">
</app-summary-section>

<section class="padding padding--16">
    <app-google-map 
        [brewery]="summaryContent.brewery"
        [city]="summaryContent.city"
        [state]="summaryContent.state"
        [country]="summaryContent.country"
        [zoom]="13"></app-google-map>
</section>

<section class="padding padding--16 wrapper">
    <app-recommended-beers
        [beerStyle]="summaryContent.style">
    </app-recommended-beers>
</section>