<!-- Header -->
<app-header 
    [headerContent]="headerContent">
</app-header>

<!-- Router Outlet -->
<router-outlet></router-outlet>

<app-footer 
    [appName]="headerContent.appName">
</app-footer>

<app-modal 
    [isOpen]="modalStates.addBeer" 
    (open)="openModal('addBeer')" 
    (close)="closeModal('addBeer')">
    <ng-container modal-header>
        <h3>Add A Beer</h3>
    </ng-container>
    <ng-container modal-body>
        <app-add-beer-form></app-add-beer-form>
    </ng-container>
    <ng-container modal-footer>
        <div class="u-align-right">
            <button class="c-btn c-btn--hollow" (click)="closeModal('addBeer')">Cancel</button>
            <button class="c-btn">Done</button>
        </div>
    </ng-container>
</app-modal>