<form 
    method="post" 
    enctype="multipart/form-data"  
    [attr.class]="formClass"
    (ngSubmit)="submitForm(_addBeerForm)" 
    [formGroup]="addBeerForm" 
    #_addBeerForm="ngForm"
    novalidate>

    <div class="c-image-upload u-flex--medium u-flex--middle u-flex--hr u-vr-2">
        <div class="u-flex__item">
            <label class="c-image-upload__label" for="upload" role="button">
                <input 
                    #fileInput
                    id="upload" 
                    class="c-image-upload__input" 
                    type="file" 
                    (change)="onFileChange($event)">
                <span class="c-btn c-btn--sm c-image-upload__btn">Upload Image</span>
            </label>
        </div>
        <div class="u-flex__item">
            {{ selectedFiles || 'No files selected' }}
        </div>
    </div>
    
    <div class="u-vr-2"> 
        <label for="beer-name">Beer Name</label>
        <input id="beer-name" type="text" formControlName="beerName">
    </div>

    <div class="u-vr-2">
        <span class="label">Rating</span>
        <div class="u-flex u-flex--hr u-vr u-vr-1-top">
            <label [attr.for]="generateId(1, 'radio')" class="c-radio-btn">
                <input [attr.id]="generateId(1, 'radio')" type="radio" name="rating" value="1" formControlName="rating">
                <span class="c-radio-btn__icon"></span>
                <span class="c-radio-btn__text">1</span>
            </label>
            <label [attr.for]="generateId(2, 'radio')" class="c-radio-btn">
                <input [attr.id]="generateId(2, 'radio')" type="radio" name="rating" value="2" formControlName="rating">
                <span class="c-radio-btn__icon"></span>
                <span class="c-radio-btn__text">2</span>
            </label>
            <label [attr.for]="generateId(3, 'radio')" class="c-radio-btn">
                <input [attr.id]="generateId(3, 'radio')" type="radio" name="rating" value="3" formControlName="rating">
                <span class="c-radio-btn__icon"></span>
                <span class="c-radio-btn__text">3</span>
            </label>
            <label [attr.for]="generateId(4, 'radio')" class="c-radio-btn">
                <input [attr.id]="generateId(4, 'radio')" type="radio" name="rating" value="4" formControlName="rating">
                <span class="c-radio-btn__icon"></span>
                <span class="c-radio-btn__text">4</span>
            </label>
            <label [attr.for]="generateId(5, 'radio')" class="c-radio-btn">
                <input [attr.id]="generateId(5, 'radio')" type="radio" name="rating" value="5" formControlName="rating">
                <span class="c-radio-btn__icon"></span>
                <span class="c-radio-btn__text">5</span>
            </label>
        </div>
        <div class="u-text-xs">1 = worst, 5 = Best</div>
    </div>

    <div class="u-vr-2">
        <label for="comments">Comments</label>
        <textarea id="comments" formControlName="comments"></textarea>
    </div>

    <button *ngIf="hasSaveBtn" type="submit" class="c-btn c-btn--sm">{{ editMode ? 'Save' : 'Submit' }}</button>
    <button *ngIf="hasCancelBtn" type="button" class="c-btn c-btn--sm c-btn--red" (click)="emitCancel($event)">Cancel</button>

</form>