@import '../../../assets/styles/_tools.scss';

.c-image-upload {
    
    &__label {
        position: relative;
    }

    &__input {
        position: absolute;
        left: rem(-10000);
    }

    &__input:focus ~ &__btn,
    &__input:active ~ &__btn {
        box-shadow: inset 0 0 0 rem(3) $blue-2;
    }
}

@media(min-width: $breakpoint-medium) {
    .add-beer-form {
        max-width: 60%;
    }
}