<section class="padding padding--24 wrapper bg-white page">
    
    <h1 class="u-text-lg u-vr-5">Add a Beer</h1>
    
    <form method="post" enctype="multipart/form-data" #_addBeerForm="ngForm" (ngSubmit)="submitForm(_addBeerForm)" [formGroup]="addBeerForm" novalidate>
        
        <div class="c-image-upload u-flex--medium u-flex--middle u-flex--hr">
            <div class="u-flex__item">
                <label class="c-image-upload__label c-btn" for="upload">Upload Image
                    <input 
                        id="upload" 
                        class="c-image-upload__input" 
                        type="file" 
                        formControlName="photoUrl" 
                        (change)="onFileChange(file.files)"
                        #file>
                </label>
            </div>
            <div class="u-flex__item">
                No image selected
            </div>
        </div>

        <hr>

        <div class="u-vr-2"> 
            <label for="beer-name">Beer Name</label>
            <input id="beer-name" type="text" formControlName="beerName">
        </div>
        <div class="u-vr-2">
            <label for="style">Style</label>
            <input id="style" type="text" formControlName="style">
        </div>
        <div class="u-flex--medium u-flex--hr">
            <div class="u-flex__item u-vr-2">
                <label for="abv">ABV (%)</label>
                <input id="abv" class="input-sm" type="text" formControlName="abv">
            </div>
            <div class="u-flex__item u-vr-2">
                <label for="ibu">IBU</label>
                <input id="ibu" class="input-sm" type="text" formControlName="ibu">
            </div>
            <div class="u-flex__item">
                <label for="glassware">Glassware</label>
                <input id="glassware" type="text" formControlName="glassware">
            </div>
        </div>

        <hr>

        <div class="u-vr-2">
            <label for="brewery">Brewery</label>
            <input id="brewery" type="text" formControlName="brewery">
        </div>
        <div class="u-vr-2">
            <label for="city">City</label>
            <input id="city" class="u-vr" type="text" formControlName="city">
        </div>
        <div class="u-flex--medium u-flex--hr">
            <div class="u-flex__item u-flex__item--grow u-vr-2">
                <label for="state">State</label>
                <input id="state" class="u-vr" type="text" formControlName="state">
            </div>
            <div class="u-flex__item u-flex__item--grow">
                <label for="country">Country</label>
                <input id="country" class="u-vr" type="text" formControlName="country">
            </div>
        </div>
        
        <hr>

        <div class="u-vr-2">
            <span class="label">Rating</span>
            <div class="u-flex u-flex--hr u-vr">
                <label class="u-text-normal">
                    1 <input class="input-xl u-vr" type="radio" name="rating" value="1" formControlName="rating">
                </label>
                <label class="u-text-normal">
                    2 <input class="input-xl u-vr" type="radio" name="rating" value="2" formControlName="rating">
                </label>
                <label class="u-text-normal">
                    3 <input class="input-xl u-vr" type="radio" name="rating" value="3" formControlName="rating">
                </label>
                <label class="u-text-normal">
                    4 <input class="input-xl u-vr" type="radio" name="rating" value="4" formControlName="rating">
                </label>
                <label class="u-text-normal">
                    5 <input class="input-xl u-vr" type="radio" name="rating" value="5" formControlName="rating">
                </label>
            </div>
            <div class="u-text-xs">1 = worst, 5 = Best</div>
        </div>

        <hr>

        <div class="u-vr-2">
            <label for="comments">Comments</label>
            <textarea id="comments"></textarea>
        </div>
        <button class="c-btn" type="submit">Submit</button>
    </form>
</section>