@import '../../../assets/styles/_tools.scss';

.c-recommended-beers-list {
    & > * {
        flex: 0 25%;
        padding: rem(8);
        position: relative;
    }

    &__photo {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; 
        height: rem(250);
    }   
    
    &__details {
        display: block;
        line-height: 1.4;
        padding: rem(16);
    }

    &__inner {
        background: $white;
        display: block;
        height: 100%;
    }

    @media(min-width: $breakpoint-medium) {
        display: flex;
    }
}