@import '../../../assets/styles/_tools.scss';

.c-recommended-beers-list {
    & > * {
        flex: 0 25%;
        padding: rem(8);
        position: relative;

        &:hover > * {
           box-shadow: inset 0 0 0 rem(2) $blue-2 !important
        }
    }

    &__photo {
        background-position: center rem(3);
        background-size: contain;
        background-repeat: no-repeat; 
        height: rem(250);
    }   
    
    &__details {
        display: block;
        line-height: 1.4;
        padding: rem(16);
    }

    &__inner {
        background: $white;
        display: block;
        height: 100%;
    }

    @media(min-width: $breakpoint-medium) {
        display: flex;
        justify-content: center;
    }
}