<ng-container *ngIf="recommendedBeers.length">
    <h3 class="u-text-lg u-vr-2 u-align-center--medium">
        Other Beers You May Like
    </h3>
    <ul class="c-recommended-beers-list">
        <li *ngFor="let beer of recommendedBeers" class="u-vr-2">
            <a class="c-recommended-beers-list__inner anchor anchor--inverse" target="_blank" [href]="beer.breweryWebsite">
                <div 
                    class="c-recommended-beers-list__photo"
                    [style.backgroundImage]="'url('+ beer.photoUrl +')'">
                </div>
                <div class="c-recommended-beers-list__details">
                    <div>
                        <h3>{{ beer.name }}</h3>
                        <h4 class="u-text-normal">{{ beer.brewery }}</h4>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</ng-container>