<li class="u-vr-2">
    <a class="u-flex u-flex--hr anchor anchor--inverse" target="_blank" [href]="breweryWebsite">
        <div *ngIf="label" class="u-flex__item">
            <img class="c-recommended-beers-list__img" [src]="label">
        </div>
        <div class="u-flex__item">
            <div>
                <h3 *ngIf="title">{{ title }}</h3>
                <h4 *ngIf="brewery" class="u-text-normal">{{ brewery }}</h4>
                <ng-container *ngIf="style">
                    <b>Style:</b> {{ style }}
                </ng-container>
                <ng-container *ngIf="abv">
                    <b>ABV:</b> {{ abv }}%
                </ng-container>
                <ng-container *ngIf="ibu">
                    <b>IBU:</b> {{ ibu }}
                </ng-container>
            </div>
        </div>
    </a>
</li>