@import '../../../assets/styles/_tools.scss';

.c-beer-card {
    &__photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: rem(250);
    }

    &__details {
        background: $white;
        padding: rem(10);
    }

    &:hover {
        box-shadow: 0 0 rem(7) rgba(0,0,0,0.3);
    }
}