<div class="c-beer-card">
    <div *ngIf="isFeatured" class="c-beer-card__banner">Featured</div>
    <a class="anchor anchor--inverse" routerLink="/beer-detail/{{imgId}}/{{routeId}}">
        <div 
            class="c-beer-card__photo"
            [style.backgroundImage]="'url('+ (photoUrl || 'assets/images/no-beer-image.png') +')'"></div>
        <div class="c-beer-card__details">
            <h3>{{ title }}</h3>
            <app-rating [rating]="rating"></app-rating>
        </div>
    </a>
</div>