@import '../../../assets/styles/_tools.scss';

.c-beer-card {
    position: relative;
    overflow: hidden;

    &__banner {
        background: $red;
        color: $white;
        display: inline-block;
        font-size: rem(12);
        font-weight: $font-medium;
        padding: rem(8 0);
        text-transform: uppercase;
        position: absolute;
        top: rem(0);
        right: rem(16);
        width: rem(120);
        text-align: center;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 100%;
            width: 0;
            height: 0;
        }

        &:before {
            left: 0;
            border-left: 0 solid transparent;
            border-right: rem(60) solid transparent;
            border-top: rem(20) solid $red;
        }

        &:after {
            right: 0;
            border-left: rem(60) solid transparent;
            border-right: 0 solid transparent;
            border-top: rem(20) solid $red;
        }
    }

    &__photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: rem(250);
    }

    &__details {
        background: $white;
        padding: rem(10);
    }

    &:hover {
        box-shadow: 0 0 rem(7) rgba(0,0,0,0.3);
    }
}