.anchor {
    color: $blue-1;
    text-decoration: none;

    &--light {
        color: $blue-2;
    }

    &--inverse {
        color: inherit;

        &:visited {
            color: inherit;
        }

        &:hover {
            color: $blue-1;
        }
    }
}