html, body {
    height: 100%;
}

body {
    background: $gray-6;
    color: $black;
    font-family: $font-default;
    font-size: rem(16);
    font-weight: $font-normal;
    line-height: 1.3;
    padding-top: rem(50);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

b, strong {
    font-weight: $font-bold;
}

p, li {
    line-height: 1.8;
}

h1,h2,h3,h4,h5 {
    font-weight: $font-bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed $gray-4;
    margin: rem(24) 0;
    padding: 0;
}