.c-btn {
    border: 0;
    background: $blue-1;
    border-radius: rem(3);
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: $font-bold;
    padding: rem(16);
    text-transform: uppercase;
    transition: background .2s linear;

    &:hover,
    &:focus {
        background: darken($blue-1, 7%);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 rem(3) $blue-2;
    }

    &--hollow {
        background: transparent;
        color: $blue-1;

        &:hover {
            background: $gray-5;
        }
    }
}