label,
.label {
    font-weight: $font-bold;
    display: block;
    margin-bottom: rem(5);
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
    background: $gray-6;
    border: 0;
    box-shadow: inset 0 0 0 rem(1) $gray-4;
    font-family: inherit;
    font-size: inherit;
    padding: rem(16);
    width: 100%;

    &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 rem(3) $blue-2;
    }

    &.has-error {
        border: 1px solid $red;
    }
}

textarea {
    min-height: rem(100);
}

.c-radio-btn {
    font-weight: normal;
    display: inline-flex;

    input {
        position: absolute;
        left: rem(-10000);
    }

    &__icon {
        background: $gray-6;
        box-shadow: inset 0 0 0 rem(1) $gray-4;
        border-radius: 50%;
        display: inline-block;
        width: rem(22);
        height: rem(22);
    }

    input:focus ~ &__icon,
    input:checked ~ &__icon {
        box-shadow:  inset 0 0 0 rem(7) $blue-1;
    }

    &__text {
        padding-left: rem(8);
    }
}

form.dark {
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea {
        background: $gray-1;
        box-shadow: inset 0 0 0 rem(1) $gray-2;
        color: $white;
    }
}