.is-visible--medium {
    display: none;
}

.is-hidden {
    display: none;
}

.screenreader-only {
    position: absolute;
    left: rem(-10000);
}
  
 @media only screen and (min-width: 768px) {
    
    .is-hidden--medium {
      display: none;
    }
  
    .is-visible--medium {
        display: block;
    }
}