// Color Variables
// ---------------------------------
$black:  #222;
$white:  #fff;

$red:    #fc5519;

$gray-1: #444;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
$gray-5: #eee;
$gray-6: #f5f5f5;

$blue-1: #0c78af;
$blue-2: #59b6e5;
$blue-3:#eaf5fc;

$green-1: #4fa009;
$green-2: #307c01;

$purple-1: #ad2ed1;

$gold: #fcb635;

// Font Variables
// ---------------------------------
$font-default:  'Open Sans', Arial, Helvetica, sans-serif;
$root-font-size: 16;

$font-normal:          300;
$font-normal-italic:   300i;
$font-medium:          500;
$font-medium-italic:   500i;
$font-semibold:        600;
$font-semibold-italic: 600i;
$font-bold:            700;
$font-semibold-italic: 700i;
$font-black:           900;
$font-black-italic:    900i;
