// Color Variables
// ---------------------------------
$black:  #111;
$white:  #fff;

$red:    #fc5519;

$gray-0: #333;
$gray-1: #444;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
$gray-5: #eee;
$gray-6: #f5f5f5;

$blue-1: #0c78af;
$blue-2: #59b6e5;
$blue-3:#eaf5fc;

$green-1: #4fa009;
$green-2: #307c01;

$purple-1: #ad2ed1;

$gold: #fcb635;

// Font Variables
// ---------------------------------
$font-default:  'Merriweather Sans', Arial, Helvetica, sans-serif;
$root-font-size: 16;

$font-normal:          300;
$font-normal-italic:   300i;
$font-medium:          400;
$font-medium-italic:   400i;
$font-semibold:        400;
$font-semibold-italic: 400i;
$font-bold:            700;
$font-bold-italic: 700i;
$font-black:           800;
$font-black-italic:    800i;

// Breakpoints
// ---------------------------------
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;