.u-vr {
    margin-bottom: rem(8);
  }
  
  .u-vr-2 {
    margin-bottom: rem(16);
  }
  
  .u-vr-3 {
    margin-bottom: rem(24);
  }
  
  .u-vr-4 {
    margin-bottom: rem(32);
  }
  
  .u-vr-5 {
    margin-bottom: rem(40);
  }
  
  .u-vr-6 {
    margin-bottom: rem(48);
  }
  
  .u-vr-7 {
    margin-bottom: rem(56);
  }
  
  .u-vr-top {
    margin-top: rem(8);
  }
  
  .u-vr-2-top {
    margin-top: rem(16);
  }
  
  .u-vr-3-top {
    margin-top: rem(24);
  }
  
  .u-vr-4-top {
    margin-top: rem(32);
  }
  
  .u-vr-5-top {
    margin-top: rem(40);
  }
  
  .u-vr-6-top {
    margin-top: rem(48);
  }
  
  .u-vr-7-top {
    margin-top: rem(56);
  }
  