@import '../../../assets/styles/_tools.scss';

.c-beer-list {
    &__item {
        margin-bottom: rem(10);
    }

    @media(min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        margin: rem(-5);

        &__item {
            flex: 0 33.333%;
            margin-bottom: 0;
            padding: rem(5);
        }
    }
}

.c-hero {
    background: right center/cover no-repeat url('https://images.pexels.com/photos/8847/food-night-drink-glass.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: calc(100vh - 50px);
    padding-top: rem(75);

    &__title {
        color: $white;
        font-size: rem(35);
        text-align: center;

        span {
            display: block;
        }
    }

    @media(min-width: $breakpoint-medium) {
        background-position: center;
        padding-top: rem(150);

        &__title {
            font-size: rem(50);
            text-align: left;
        }
    }

    @media(min-width: $breakpoint-large) {
        &__title {
            span {
                display: inline;
            }
        }
    }
}