@import '../../../assets/styles/_tools.scss';

.c-beer-list {
    &__item {
        margin-bottom: rem(10);
    }

    &__photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: rem(250);
    }

    &__details {
        background: $white;
        padding: rem(10);
    }

    @media(min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: rem(-5);

        &__item {
            flex: 0 33.333%;
            margin-bottom: 0;
            padding: rem(5);
        }

        &__details {
            flex: 1;
        }
    }
}