<app-hero>
    Beer Reviews <span class="u-text-normal u-text-italic">by a Regular Guy</span>
</app-hero>

<section *ngIf="beers" class="padding padding--24 wrapper">

    <h2 class="u-align-center u-text-xl hdg--border-underline u-vr-3">Beer Reviews</h2>

    <ul class="c-beer-list">
        <li class="c-beer-list__item" *ngFor="let beer of beers">
            <app-beer-card
                [title]="beer.beerName"
                [rating]="beer.rating"
                [routeId]="beer.id"
                [imgId]="beer.imgId">
            </app-beer-card>
        </li>
    </ul>
</section>