<app-hero>
    Beer Reviews <span class="u-text-normal u-text-italic">by a Regular Guy</span>
</app-hero>

<section *ngIf="beers" class="padding padding--24 wrapper">

    <div class="u-flex u-flex--middle u-flex--space-between u-vr-3 hdg--border-underline">
        <div class="u-flex__item--grow">
            <h2 class="u-text-xl">Beer Reviews</h2>
        </div>
        <div>
            <input class="input input--search" type="text" placeholder="Search">
        </div>
    </div>

    <ul class="c-beer-list">
        <li class="c-beer-list__item" *ngFor="let beer of beers">
            <app-beer-card
                [title]="beer.beerName"
                [rating]="beer.rating"
                [routeId]="beer.id"
                [imgId]="beer.imgId">
            </app-beer-card>
        </li>
    </ul>
</section>